html,
body {
  height: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: #222;
  color: white;
}

body,
button,
input {
  font-size: 1.5rem;
}
.note {
  padding: 2px;
  margin: 1px;
  border: 1px solid grey;
  font-size: 1rem;
}
button.toright{
  float: right;
}
html, button, input, textarea {
  font-family: Arial, Helvetica, sans-serif;
}
button{
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 1px;
  color: white;
  transition: background-color 0.4s;
  background-color: #57d;
  cursor: pointer;
}
button:active{
  transition: background-color 0s;
  background-color: #8af;
}

button.create{
  background-color: #382;;
}
button.danger {
  background-color: #b32;
}
button.small{
  padding: 2px 5px;
  font-size: 1rem;
}
input, textarea, .popup {
  border: 1px solid grey;
  background-color: #555;
  padding: 5px;
  color: white;
}
input {
  padding: 5px 20px;
  margin-bottom: 5px;
}
.center{
  text-align: center;
}
.popup{
  padding: 15px;
  background-color: #333;
  position: fixed;
  box-sizing: border-box;
  top: 10%;
  left: 10%;
  max-height: 80%;
  max-width: 80%;
  overflow-x: hidden;
  overflow-y: auto;
}
.popup::before{
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.75;
  z-index: -1;
}

.tree-view-item .tree-view-item-key-with-chevron[data-v-efc5bae2]::before {
  color: green;
}